# This workflow requires additional setup, see: https://jenkins.io/doc/developer/crowdin/

name: Crowdin

on:
  schedule:
    - cron: '0 */24 * * *'
  workflow_dispatch:

permissions:
  actions: write
  contents: write
  pull-requests: write

jobs:
  synchronize-with-crowdin:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'jenkinsci'

    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: crowdin action
        uses: crowdin/github-action@v2.9.1
        with:
          upload_translations: false
          download_translations: true
          skip_untranslated_files: true
          push_translations: true
          export_only_approved: true
          commit_message: 'New Crowdin translations'
          create_pull_request: true
          pull_request_title: 'Update localization'
          pull_request_labels: 'localization'
          base_url: 'https://jenkins.crowdin.com'
          config: 'crowdin.yml'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CROWDIN_PROJECT_ID: 26
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
